nav.navbar {
  box-shadow: 0px 4px 16px 0px #00000047;

  .navbar-brand.h1 {
    color: rgba(0, 0, 0, 0.87);
  }
}

.card {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: 300;
}
